elasticsearch==5.4.0
elasticsearch-dsl==5.3.0
Keras==2.0.8
numpy==1.13.3
pandas==0.19.2
spacy-nightly==2.0.0a16
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.0.0a3/en_core_web_lg-2.0.0a3.tar.gz
