aniso8601==1.0.0
backports.ssl-match-hostname==3.4.0.2
boto==2.38.0
bz2file==0.98
certifi==2015.4.28
elasticsearch==2.3.0
elasticsearch-dsl==0.0.4
Flask==0.10.1
Flask-HTTPAuth==2.5.0
Flask-RESTful==0.3.3
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
-e git+https://github.com/openeventdata/mitie-py#egg=mitie
gensim==0.11.1-1
python-dateutil==2.4.2
pytz==2015.4
six==1.9.0
smart-open==1.2.1
tornado==4.2
urllib3==1.10.4
Werkzeug==0.10.4
pytest==2.6.3
unidecode==0.04.18
requests
